---
import Ventaja from "../components/Ventaja.astro";
import Beneficio from "../components/Beneficio.astro";
import Layout from "../layouts/Layout.astro";
import Venta from "./ventas.astro";
---

<Layout title="IA SOLUTION">
  <main
    class="flex flex-col text-black max-w-7xl mt-[100px] text-center m-auto min-h-screen justify-center items-center"
  >
    <header
      class="text-center items-center place-content-center flex flex-col bg-[rgba(255,255,255,0)] backdrop-blur-sm fixed top-0 left-0 w-full h-[140px] z-[1000]"
    >
      <a class="flex flex-row mt-4" href="/">
        <img
          class="w-12 h-12 lg:w-20 lg:h-20"
          src="favicon.svg"
          alt="Astro logo"
        />
        <h1 class="mt-3 ml-2 text-2xl font-bold lg:text-3xl lg:mt-8">
          IA SOLUTION
        </h1>
      </a>
      <div class="justify-center hidden space-x-4 text-center md:flex">
        {
          [
            ["¿Quienes Somos?", "/#quienes-Somos"],
            ["¿Como trabajamos?", "#como-trabajamos"],
            ["IA en tu negocio", "/#ia-en-tu-negocio"],
            ["Ventajas y beneficios", "/#ventajas-y-beneficios"],
            ["Casos de exito", "/#casos-de-exito"],
            ["Contactanos", "/#contactanos"],
          ].map(([title, url]) => (
            <div>
              <a
                href={url}
                class="px-3 text-xl font-medium rounded-lg hover:text-blue-900 ion-100 text-transition lg:text-2xl"
              >
                {title}
              </a>
            </div>
          ))
        }
      </div>
    </header>
    <section
      id="quienes-Somos"
      class="flex flex-col px-4 lg:px-12 items-center gap-2 text-center pt-[calc(30px+30px)] md:pt-[calc(32px+100px)]"
    >
      <h1 class="text-5xl font-bold lg:text-6xl">¿Quienes somos?</h1>
      <p class="my-6 text-xl">
        Nuestra misión es ayudar a las empresas a aprovechar el poder de la
        inteligencia artificial para resolver desafíos complejos, mejorar la
        toma de decisiones y obtener una ventaja competitiva. Con un enfoque en
        la calidad y la colaboración, trabajamos estrechamente con nuestros
        clientes para entender sus necesidades únicas y desarrollar soluciones a
        medida que se alineen con sus objetivos.
      </p>
      <div class="flex items-center justify-center">
        <img
          src="/left-ai.png"
          alt=""
          class="w-2/3 rounded-3xl"
          data-aos="fade-up"
          data-aos-delay="300"
        />
      </div>
    </section>

    <section
      id="como-trabajamos"
      class="flex flex-col px-4 lg:px-12 items-center gap-2 text-center pt-[calc(30px+80px)] md:pt-[calc(32px+100px)]"
    >
      <h1 class="text-5xl font-bold lg:text-6xl">¿Cómo trabajamos?</h1>
      <div class="grid gap-12 mt-4 lg:grid-cols-2">
        <div class="flex self-center">
          <h1 class="text-xl lg:text-3xl">
            Nos centramos en el crecimiento empresarial y la optimización
            mediante la inteligencia artificial. Somos una firma especializada
            en IA.
          </h1>
        </div>
        <div>
          <ul class="flex flex-col gap-12">
            <div class="flex flex-col text-center">
              <div class="flex flex-row place-content-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mr-2"
                  width="24"
                  height="24"
                  viewBox="0 0 48 48"
                  ><g fill="currentColor"
                    ><path
                      d="M18.748 12.816c-1.74.067-3.313.688-4.154 1.53a1 1 0 1 1-1.414-1.415c1.297-1.297 3.409-2.033 5.49-2.114c2.095-.081 4.382.492 5.984 2.094a1 1 0 0 1-1.415 1.414c-1.09-1.091-2.764-1.577-4.491-1.51"
                    ></path><path
                      fill-rule="evenodd"
                      d="M28.936 27.384A12.95 12.95 0 0 0 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.195 0 6.12-1.152 8.384-3.064L27 31.144l7.514 7.514l4.144-4.144L31.144 27zM19 29c5.523 0 10-4.477 10-10S24.523 9 19 9S9 13.477 9 19s4.477 10 10 10"
                      clip-rule="evenodd"></path><path
                      d="m35.928 40.072l4.144-4.144l1.356 1.356c.763.763.763 2 0 2.762l-1.382 1.382c-.763.763-2 .763-2.762 0z"
                    ></path></g
                  ></svg
                >
                <h1 class="text-xl">Identificamos</h1>
              </div>
              <p class="text-xl">
                Identificamos los procesos susceptibles de optimización y
                automatización mediante IA.
              </p>
            </div>
            <div class="flex flex-col text-center">
              <div class="flex flex-row place-content-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mr-2"
                  width="24"
                  height="24"
                  viewBox="0 0 32 32"
                  ><path
                    fill="currentColor"
                    d="M4 2H2v26a2 2 0 0 0 2 2h26v-2H4Z"></path><path
                    fill="currentColor"
                    d="M30 9h-7v2h3.59L19 18.59l-4.29-4.3a1 1 0 0 0-1.42 0L6 21.59L7.41 23L14 16.41l4.29 4.3a1 1 0 0 0 1.42 0l8.29-8.3V16h2Z"
                  ></path></svg
                >
                <h1 class="text-xl">Analizamos</h1>
              </div>
              <p class="text-xl">
                Analizamos datos y algoritmos clave para mejorar la toma de
                decisiones.
              </p>
            </div>
            <div class="flex flex-col text-center">
              <div class="flex flex-row place-content-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mr-2"
                  width="24"
                  height="24"
                  viewBox="0 0 16 16"
                  ><path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M9.111 4.663A2 2 0 1 1 6.89 1.337a2 2 0 0 1 2.222 3.326zm-.555-2.494A1 1 0 1 0 7.444 3.83a1 1 0 0 0 1.112-1.66zm2.61.03a1.494 1.494 0 0 1 1.895.188a1.513 1.513 0 0 1-.487 2.46a1.49 1.49 0 0 1-1.635-.326a1.512 1.512 0 0 1 .228-2.321zm.48 1.61a.499.499 0 1 0 .705-.708a.5.5 0 0 0-.351-.15a.5.5 0 0 0-.5.503a.5.5 0 0 0 .146.356zM3.19 12.487H5v1.005H3.19a1.2 1.2 0 0 1-.842-.357a1.2 1.2 0 0 1-.348-.85v-1.81a1 1 0 0 1-.71-.332A1 1 0 0 1 1 9.408V7.226c.003-.472.19-.923.52-1.258c.329-.331.774-.52 1.24-.523H4.6a2.9 2.9 0 0 0-.55 1.006H2.76a.8.8 0 0 0-.54.232a.78.78 0 0 0-.22.543v2.232h1v2.826a.2.2 0 0 0 .05.151a.24.24 0 0 0 .14.05zm7.3-6.518a1.77 1.77 0 0 0-1.25-.523H6.76a1.77 1.77 0 0 0-1.24.523c-.33.335-.517.786-.52 1.258v3.178a1.06 1.06 0 0 0 .29.734a1 1 0 0 0 .71.332v2.323a1.2 1.2 0 0 0 .35.855c.18.168.407.277.65.312h2a1.15 1.15 0 0 0 1-1.167V11.47a1 1 0 0 0 .71-.332a1 1 0 0 0 .29-.734V7.226a1.8 1.8 0 0 0-.51-1.258zM10 10.454H9v3.34a.2.2 0 0 1-.06.14a.17.17 0 0 1-.14.06H7.19a.21.21 0 0 1-.2-.2v-3.34H6V7.226c0-.203.079-.398.22-.543a.8.8 0 0 1 .54-.232h2.48a.78.78 0 0 1 .705.48a.8.8 0 0 1 .055.295zm2.81 3.037H11v-1.005h1.8a.24.24 0 0 0 .14-.05a.2.2 0 0 0 .06-.152V9.458h1V7.226a.78.78 0 0 0-.22-.543a.8.8 0 0 0-.54-.232h-1.29a2.9 2.9 0 0 0-.55-1.006h1.84a1.77 1.77 0 0 1 1.24.523c.33.335.517.786.52 1.258v2.182c0 .273-.103.535-.289.733c-.186.199-.44.318-.711.333v1.81c0 .319-.125.624-.348.85a1.2 1.2 0 0 1-.842.357M4 1.945a1.49 1.49 0 0 0-1.386.932A1.52 1.52 0 0 0 2.94 4.52A1.497 1.497 0 0 0 5.5 3.454c0-.4-.158-.784-.44-1.067A1.5 1.5 0 0 0 4 1.945m0 2.012a.5.5 0 0 1-.5-.503a.504.504 0 0 1 .5-.503a.51.51 0 0 1 .5.503a.504.504 0 0 1-.5.503"
                    clip-rule="evenodd"></path></svg
                >
                <h1 class="text-xl">Organizamos</h1>
              </div>
              <p class="text-xl">
                Organizamos equipos dedicados al desarrollo e implementación de
                proyectos.
              </p>
            </div>
            <div class="flex flex-col text-center">
              <div class="flex flex-row place-content-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mr-2"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  ><g
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    color="currentColor"
                    ><path
                      d="M5.143 14A7.8 7.8 0 0 1 4 9.919C4 5.545 7.582 2 12 2s8 3.545 8 7.919A7.8 7.8 0 0 1 18.857 14M7.383 17.098c-.092-.276-.138-.415-.133-.527a.6.6 0 0 1 .382-.53c.104-.041.25-.041.54-.041h7.656c.291 0 .436 0 .54.04a.6.6 0 0 1 .382.531c.005.112-.041.25-.133.527c-.17.511-.255.767-.386.974a2 2 0 0 1-1.2.869c-.238.059-.506.059-1.043.059h-3.976c-.537 0-.806 0-1.043-.06a2 2 0 0 1-1.2-.868c-.131-.207-.216-.463-.386-.974M15 19l-.13.647c-.14.707-.211 1.06-.37 1.34a2 2 0 0 1-1.113.912C13.082 22 12.72 22 12 22s-1.082 0-1.387-.1a2 2 0 0 1-1.113-.913c-.159-.28-.23-.633-.37-1.34L9 19"
                    ></path><path
                      d="m12.308 12l-1.461-4.521A.72.72 0 0 0 10.154 7a.72.72 0 0 0-.693.479L8 12m7-5v5m-6.462-1.5h3.231"
                    ></path></g
                  ></svg
                >
                <h1 class="text-xl">Plan de Acción</h1>
              </div>
              <p class="text-xl">
                Elaboramos un plan de acción estratégico para guiar a la
                empresa.
              </p>
            </div>
          </ul>
        </div>
      </div>
    </section>

    <section
      id="ia-en-tu-negocio"
      class="flex flex-col px-4 lg:px-12 items-center gap-2 text-center pt-[calc(30px+80px)] md:pt-[calc(32px+120px)]"
    >
      <h1 class="text-5xl font-bold lg:text-6xl">IA en tu negocio</h1>
      <div class="grid gap-12 mt-6 lg:grid-cols-4 lg:grid-rows-2">
        <Ventaja title="Ventas" href="/ventas">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="0 0 14 14"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="M9.806 4.24a1.019 1.019 0 0 0-.961-.68h-.79a.91.91 0 0 0-.194 1.798l1.202.263a1.02 1.02 0 0 1-.218 2.016h-.68a1.02 1.02 0 0 1-.961-.68M8.505 3.56V2.54m0 6.116v-1.02"
              ></path><path
                d="M3.614 5.598a4.891 4.891 0 1 0 9.782 0a4.891 4.891 0 1 0-9.782 0m-2.411.536a4.89 4.89 0 0 0 6.437 6.73"
              ></path></g
            ></svg
          >
        </Ventaja>
        <Ventaja title="Servicios Financieros" href="/servicios-financieros">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="m6 16.5l-3 2.94V11h3m5 3.66l-1.57-1.34L8 14.64V7h3m5 6l-3 3V3h3m2.81 9.81L17 11h5v5l-1.79-1.79L13 21.36l-3.47-3.02L5.75 22H3l6.47-6.34L13 18.64"
            ></path></svg
          >
        </Ventaja>
        <Ventaja title="Educación" href="/educacion">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="0 0 16 16"
            ><path
              fill="currentColor"
              d="M10.386 9.836a2.5 2.5 0 1 1 3.611.667C15.212 11.173 16 12.46 16 14v1.5a.5.5 0 1 1-1 0V14c0-1.724-1.276-3-3-3c-.91 0-1.298-.02-1.805-.122c-1.25-.254-2.333-1-3.585-2.566a.5.5 0 1 1 .78-.624c.9 1.124 1.653 1.74 2.434 2.043c.155.052.345.083.562.105m1.785.128q.125.015.251.034L12.5 10a1.5 1.5 0 1 0-.33-.036M9.78 11.97a.5.5 0 0 1 .5.5a1 1 0 0 1-.05.231c-.179.38-.23.774-.23 1.302v1.5a.5.5 0 1 1-1 0v-1.5c0-.657.072-1.186.307-1.696a.5.5 0 0 1 .473-.337M5.958 5.772a.5.5 0 0 1-.78.625L3.11 3.812a.5.5 0 1 1 .78-.624zM1 11h5.5a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5V.5A.5.5 0 0 1 .5 0h12a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0V1H1z"
            ></path></svg
          >
        </Ventaja>
        <Ventaja title="Medicina" href="/medicina">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="-2 -2 24 24"
            ><path
              fill="currentColor"
              d="M7 12.917v.583a4.5 4.5 0 1 0 9 0v-1.67a3.001 3.001 0 1 1 2 0v1.67a6.5 6.5 0 1 1-13 0v-.583A6.002 6.002 0 0 1 0 7V2a2 2 0 0 1 2-2h1a1 1 0 1 1 0 2H2v5a4 4 0 1 0 8 0V2H9a1 1 0 1 1 0-2h1a2 2 0 0 1 2 2v5a6.002 6.002 0 0 1-5 5.917M17 10a1 1 0 1 0 0-2a1 1 0 0 0 0 2"
            ></path></svg
          >
        </Ventaja>
        <Ventaja title="Manufactura" href="/manufactura">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="0 0 2048 2048"
            ><path
              fill="currentColor"
              d="M2048 1317v219h-128v-165l-109-110l3-3q-40 22-89 22q-44 0-81-18l-108 109v165h-128v-219l145-144l-3-7l-251-562l-408 421q2 16 3 31t2 32v832h128v128H0v-128h128v-832q0-76 28-143t76-119t114-84t142-37l608-627q36-38 84-58t100-20q35 0 70 10t67 30t57 46t40 60l384 858q9 20 13 41t4 42q0 24-5 47t-17 45l8-8zM768 1920v-832q0-53-20-99t-55-82t-81-55t-100-20q-53 0-99 20t-82 55t-55 81t-20 100v832zM644 727q62 23 113 65t85 99l530-546q36-38 36-89q0-27-10-50t-27-40t-41-28t-50-10q-55 0-92 39zm845-324q-18 29-44 53t-50 49l197 441l117-50zm236 749q29 0 46-19t17-46q0-20-9-38t-18-36l-117 50q6 15 12 31t15 29t21 21t33 8M512 1024q27 0 50 10t40 27t28 41t10 50q0 27-10 50t-27 40t-41 28t-50 10q-27 0-50-10t-40-27t-28-41t-10-50q0-27 10-50t27-40t41-28t50-10"
            ></path></svg
          >
        </Ventaja>
        <Ventaja title="Salud" href="/salud">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="0 0 14 14"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="M.58 4.31C1.09 1.85 4.12 0 7 3.27c4.11-4.71 8.5 1.13 5.52 4.14L7 12.5l-3.23-3"
              ></path><path d="M.5 7H3l1.5-2l2 3.5l1.5-2h1.5"></path></g
            ></svg
          >
        </Ventaja>
        <Ventaja
          title="Asistencia personales y virtuales"
          href="/asis-personal-virtual"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M21 12.22C21 6.73 16.74 3 12 3c-4.69 0-9 3.65-9 9.28c-.6.34-1 .98-1 1.72v2c0 1.1.9 2 2 2h1v-6.1c0-3.87 3.13-7 7-7s7 3.13 7 7V19h-8v2h8c1.1 0 2-.9 2-2v-1.22c.59-.31 1-.92 1-1.64v-2.3c0-.7-.41-1.31-1-1.62"
            ></path><circle cx="9" cy="13" r="1" fill="currentColor"
            ></circle><circle cx="15" cy="13" r="1" fill="currentColor"
            ></circle><path
              fill="currentColor"
              d="M18 11.03A6.04 6.04 0 0 0 12.05 6c-3.03 0-6.29 2.51-6.03 6.45a8.075 8.075 0 0 0 4.86-5.89c1.31 2.63 4 4.44 7.12 4.47"
            ></path></svg
          >
        </Ventaja>
        <Ventaja title="Tiendas Online" href="/tiendas-online">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            viewBox="0 0 48 48"
            ><g fill="currentColor"
              ><path d="M22.5 28a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3"
              ></path><path
                fill-rule="evenodd"
                d="M9.429 20q.292 0 .571-.048V28H7.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h33a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H38v-8.048q.28.048.571.048C40.473 20 42 18.448 42 16.551v-2.39a2.7 2.7 0 0 0-.163-.93l-2.18-6.01A1.85 1.85 0 0 0 37.917 6H10.082a1.85 1.85 0 0 0-1.738 1.222l-2.18 6.009a2.7 2.7 0 0 0-.164.93v2.39C6 18.448 7.527 20 9.429 20m-1.385-6.087L10.189 8H37.81l2.145 5.913q.044.12.044.248v2.39A1.44 1.44 0 0 1 38.57 18c-.78 0-1.428-.64-1.428-1.449a1 1 0 0 0-2 0A1.44 1.44 0 0 1 33.713 18c-.78 0-1.428-.64-1.428-1.448a1 1 0 0 0-2 0c0 .808-.648 1.448-1.429 1.448s-1.428-.64-1.428-1.449a1 1 0 1 0-2 0A1.44 1.44 0 0 1 24 18a1.44 1.44 0 0 1-1.429-1.448a1 1 0 0 0-2 0c0 .808-.647 1.448-1.428 1.448s-1.429-.64-1.429-1.449a1 1 0 1 0-2 0c0 .808-.647 1.449-1.428 1.449s-1.429-.64-1.429-1.449a1 1 0 1 0-2 0c0 .808-.647 1.449-1.428 1.449C8.647 18 8 17.36 8 16.551v-2.39q0-.129.044-.248M36 19.122a3.4 3.4 0 0 1-2.286.878a3.4 3.4 0 0 1-2.428-1.014A3.4 3.4 0 0 1 28.857 20a3.4 3.4 0 0 1-2.428-1.014A3.4 3.4 0 0 1 24 20a3.4 3.4 0 0 1-2.429-1.014A3.4 3.4 0 0 1 19.143 20c-.951 0-1.81-.389-2.429-1.014A3.4 3.4 0 0 1 14.286 20c-.88 0-1.68-.333-2.286-.878V28h2.5a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v.5h1.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H36zM8 33a1 1 0 0 1 1-1h30a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zm2 7v-6h28v6z"
                clip-rule="evenodd"></path></g
            ></svg
          >
        </Ventaja>
      </div>
    </section>

    <section
      id="ventajas-y-beneficios"
      class="flex flex-col px-4 lg:px-12 items-center gap-2 text-center pt-[calc(30px+80px)] md:pt-[calc(32px+120px)]"
    >
      <div>
        <h1 class="text-5xl font-bold lg:text-6xl">Ventajas y Beneficios</h1>
        <h2 class="text-3xl font-bold lg:text-4xl">
          de la Inteligencia Artificial
        </h2>
      </div>
      <h2 class="text-xl lg:text-2xl">
        La Inteligencia Artificial proporciona a los negocios beneficios
        significativos, como mayor eficiencia, capacidad de análisis ampliada y
        mejoras en las estrategias de ventas.
      </h2>
      <Beneficio title="Incremento de la rentabilidad">
        <p>
          La aceleración de los procesos con Inteligencia Artificial y la
          experticia que genera aumentan la rentabilidad de la empresa.
        </p>
      </Beneficio>
      <Beneficio title="Eficiencia">
        <p>
          Una mayor consistencia en los desempeños con una evidente reducción de
          costos de operación.
        </p>
      </Beneficio>
      <Beneficio title="Mejora los perfiles de clientes">
        La Inteligencia Artificial permite definir carácter y características de
        clientes más precisos para aumentar el nivel de ventas.
      </Beneficio>
      <Beneficio title="Mejor comprensión de los resultados">
        <p>
          Las plataformas inteligentes poseen características visuales más
          apropiadas para las evaluaciones y un rápido entendimiento.
        </p>
      </Beneficio>
      <Beneficio title="Ahorro de tiempo">
        <p>
          La clasificación y manipulación de los datos recaen en la Inteligencia
          Artificial liberando a los empleados para otras tareas.
        </p>
      </Beneficio>
      <Beneficio title="Promueve innovación">
        <p>
          Al ubicar alternativas y generar recomendaciones, la Inteligencia
          Artificial permite el desarrollo de la creatividad empresarial.
        </p>
      </Beneficio>
      <Beneficio title="Ahorro de dinero">
        <p>
          Con la Inteligencia Artificial se puede prescindir de labor humana.
          Esto quiere decir que supondría un ahorro sustancial debido a que
          disminuiría la necesidad de personal en la empresa.
        </p>
      </Beneficio>
      <Beneficio title="Experticia aumentada">
        <p>
          La Inteligencia Artificial da soporte al proceso de toma de decisiones
          incrementando las herramientas de análisis de los trabajadores.
        </p>
      </Beneficio>
    </section>

    <section
      id="casos-de-exito"
      class="flex flex-col px-4 lg:px-12 items-center gap-2 text-center pt-[calc(30px+80px)] md:pt-[calc(32px+120px)]"
    >
      <h1 class="text-5xl font-bold lg:text-6xl">Casos de éxito</h1>
      <div id="videoContainer">
        <h2 class="mt-12 mb-2 text-3xl font-bold lg:text-4xl">
          Casalimpia: la empresa que revoluciona su mercado con IA
        </h2>
        <iframe
          src="https://www.youtube.com/embed/5Gnb7OP-1xw?si=9OIC4-uijs71G6Fy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
        <h2 class="mt-12 mb-2 text-3xl font-bold lg:text-4xl">
          Amazon go: compras más sencillas con IA
        </h2>
        <iframe
          src="https://www.youtube.com/embed/WcKgTcGz8Eo?si=WE0RsgcC1bhuD0jJ"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        <h2 class="mt-12 mb-2 text-3xl font-bold lg:text-4xl">
          BMW: inteligencia artificial en toda la cadena de valor
        </h2>
        <iframe
          src="https://www.youtube.com/embed/7dXVCIy49Q0?si=wQ5I4L9BeoCUffiE"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
    </section>

    <section
      id="contactanos"
      class="flex flex-col px-4 lg:px-12 items-center gap-2 text-center pt-[calc(30px+80px)] md:pt-[calc(32px+120px)]"
    >
      <h1 class="text-5xl font-bold lg:text-6xl">Contactanos</h1>
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfU5pwRut8NLxY8WAyMWpWnNwuPQq0n7bzCTOQKd0txmW59eg/viewform?embedded=true"
        class="w-[400px] lg:w-[800px] h-[1192px] lg:h-[1400px]"
        frameborder="0"
        marginheight="0"
        marginwidth="0">Cargando…</iframe
      >
    </section>
  </main>
  <footer>
    <div class="flex flex-col items-center gap-2 py-6 text-xl text-center">
      <p>© 2024 IA SOLUTION</p>
      <p>Andrés Larraya</p>
    </div>
  </footer>
</Layout>

<script>
  import AOS from "aos";
  AOS.init();
</script>
<style>
  #videoContainer {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  #videoContainer iframe {
    width: 100%;
    height: 600px;
  }
</style>
